# Masukkan Access Key & Secret Key AWS Anda
AWS_ACCESS_KEY_ID=AKIA_CONTOH_SAJA
AWS_SECRET_ACCESS_KEY=rahasia_contoh_saja
AWS_DEFAULT_REGION=ap-southeast-1

# Masukkan Nama Bucket S3
BUCKET_NAME=nama-bucket-anda

# Masukkan URL SQS
SQS_URL=https://sqs.ap-southeast-1.amazonaws.com/xxxx/queue-anda